<%
// ------------------------------------------------------------------------------------------------------------------------------------------------------
// ' FileName      : Database.Config
// ' Function      : Configures the database connection ( if required )
// ' Requirements  : None
// ' Trigger       : None
// ' Author        : Patrick Johnson - contact@patrickjohnson.co.uk
// ' Version       : 6.2.0
// ' Last Updated  : 21/05/2012 - P Johnson
// ------------------------------------------------------------------------------------------------------------------------------------------------------

   ' Does the site require a database connection?
	 ' 1 = Yes, 0 = No
	 ' By default the UseDatabase is set to `0` zero
	 
	   UseDatabase = 0
		 
	 ' Database Driver
	   
		 DB_Driver   = "Microsoft Access Driver (*.mdb)"
		 
	 ' Choose your Database Type
	 ' 1 = ODBC ( MySQL ),    2 = Server ( MySQL )
	 ' 2 = ODBC ( MsAccess ), 4 = File MSAccess )
	 
	   DB_Type      = 2
		 
	 ' Enter your ODBC Database Name
	 ' DB_Type Option 1 or 3 only
	 
	   ODBC_DB_Name = ""
		 
   ' Enter your Database file name
	 ' DB_Type Option 2 or 4 only
	 
	   DB_FileName  = ""
		 
	 ' Enter your database name
	 ' Database Option 1 or 2 only
	 
	   SQL_DBName   = ""
		 
	 ' Enter your database folder location
	 ' DB_Type Option 2 or 4 only
	 
	   DB_Location  = ""
		 
		 If DB_Location > "" Then
		 DB_Location  = Server.MapPath( DB_Location & DB_FileName )
     End If
		 
	 ' Enter your Database Server IP or Hostname
	 ' DB_Type Option 1 or 2 only

	DB_Server   = ""
	DB_PORT     = ""
		 
		 
   ' Enter your Database Username 
	 ' DB_Type Option 1 or 2 only
	   
	 DB_Username  = ""
		 
	 ' Enter your Database Password
	 ' DB_Type Option 1 or 2 only
	   
	 DB_Password  = ""

// ------------------------------------------------------------------------------------------------------------------------------------------------------
%>