<%
// ------------------------------------------------------------------------------------------------------------------------------------------------------
// ' FileName      : Directories.Config
// ' Function      : Defines where the circuit files and media is stored
// ' Requirements  : None
// ' Trigger       : None
// ' Author        : Patrick Johnson - contact@patrickjohnson.co.uk
// ' Version       : 6.2.0
// ' Last Updated  : 21/05/2012 - P Johnson
// ------------------------------------------------------------------------------------------------------------------------------------------------------
// ' Define Application Variables
// ------------------------------------------------------------------------------------------------------------------------------------------------------
   
	 ' Fusebox Framework Version
	   
		 fw_Version = "7.0.7"
		 
	 ' Enter the application name that will appear above the address bar
	 
	   fw_AppName  = "Judges Exposed"
		 
   ' Enter the sites applications Qualified Domain Name (FQDN)
	 ' without `http://` or `https`
	 
	   fw_FQDN        = "judgesexposed.laughandpee.co.uk"
		 fw_PrimaryFQDN = ""
		 
   ' Specifify whether the application uses a secure connection
	 ' 1 = Yes, 0 = No
	 
		 fw_UseSSL   = 0
		 
	 ' If you are using a SSL port number other than 443, please
	 ' specify the port number below.
	 
	   fw_SSLPort  = ""
		 
   ' Enter your application language extension without the `.`
	 ' `php` NOT `.php`
	 
	   fw_AppLang  = "pl"
		 
   ' Application Root path
	 ' The default is `/`
	 
	   fw_RootPath = "/"
		 
   ' Framework Core Path
	 ' The default is `/fusebox/`
	 
	   fw_CorePath = fw_RootPath & "fusebox/"
		 
// ------------------------------------------------------------------------------------------------------------------------------------------------------
// ' Folder Paths
// ------------------------------------------------------------------------------------------------------------------------------------------------------
   
	 ' Error Template Path
     
		 fw_ErrorPath     = fw_CorePath & "CoreFiles/ErrorTemplate/"
		 
	 ' Application Folder Path
	 
	   fw_AppPath       = fw_RootPath & "Application/"
		 
	 ' Controls Folder Path
	 
	   fw_CtrlPath      = fw_AppPath & "Controls/"
		 fw_CtrlPrefix    = "ctrl_"
		 
	 ' Actions Folder Path
	 
	   fw_ActionsPath   = fw_AppPath & "Actions/"
		 fw_ActionsPrefix = "act_"
		 
	 ' Library Folder Path
	   
		 fw_LibraryPath   = fw_AppPath & "Library/"
		 
   ' Content Folder Path
	 
	   fw_ContentPath   = fw_AppPath & "Content/"
		 fw_ContentPrefix = "dsp_"
		 
   ' Template Folder path
	   
		 fw_TemplatePath   = fw_ContentPath & "Template/"
		 fw_TemplatePrefix = "tmp_"
		 
   ' Index File Path
	 
	   fw_IndexPath      = fw_ContentPath
		 fw_IndexPrefix    = fw_ContentPrefix
		 fw_IndexFile      = fw_IndexPrefix & "index." & fw_AppLang
		 fw_IndexFullPath  = fw_IndexPath & fw_IndexFile

// ------------------------------------------------------------------------------------------------------------------------------------------------------
// ' Custom Folders
// ' To keep this config file tidy, please put your custom folder config below
// ------------------------------------------------------------------------------------------------------------------------------------------------------



// ------------------------------------------------------------------------------------------------------------------------------------------------------
%>