<%
// ------------------------------------------------------------------------------------------------------------------------------------------------------
// ' FileName      : Email.Config
// ' Function      : Holds the configuration for an email server
// ' Requirements  : None
// ' Trigger       : None
// ' Author        : Patrick Johnson - contact@patrickjohnson.co.uk
// ' Version       : 6.2.0
// ' Last Updated  : 21/05/2012 - P Johnson
// ------------------------------------------------------------------------------------------------------------------------------------------------------

     MxServer       = "mail.gmdtafilms.co.uk"
		 MxPort         = 25
		 MxUsername     = "mailer@gmdtafilms.co.uk"    ' Email Address or username
		 MxPassword     = "elysium08512" 
		 MxUseSSL       = False ' CDONTS ONLY / Default value is False
		 MxTimeOut      = 60    ' CDONTS ONLY / Default value is 60
		 MxSMTPAUTH     = 1     ' Requires Authentication to Relay / Default is zero (0)
		 MxComponent    = 2     ' 1 = CDONTS, 2 = Persits ASP Email, 3 = Dimac JMail
		 
		 MxSysUserName  = "Administrator"          ' Login Username for Windows Server ( If Queueing mail on persits mailer plugin only )
		 MxSysPassword  = "Cecest9Elysium08512"    ' Login Password for Windows Server ( If Queueing mail on persits mailer plugin only )
		 MxSysDomain    = ""                       ' Login Domain attached to windows server

// ------------------------------------------------------------------------------------------------------------------------------------------------------
// ' Do NOT edit below this line
// ------------------------------------------------------------------------------------------------------------------------------------------------------
     
		 If MxPort = "" Then
		   MxPort = 25
		 End If
		 
// ------------------------------------------------------------------------------------------------------------------------------------------------------
		 
		 Select Case( MxComponent )
		  
			 Case( 1 )
			   MxSelectedComponent = "CDO.Message"
			
			 Case( 2 )
			   MxSelectedComponent = "Persits.MailSender"
			
			 Case( 3 )
			   MxSelectedComponent = "JMail.SMTPMail"
		 
		 End Select
		 
// ------------------------------------------------------------------------------------------------------------------------------------------------------
%>